* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Lexend';
  height: 100%;
}

.header {
  background-color: rgb(60, 94, 237);
  padding: 50px;
  text-align: left;
  font-size: 50px;
  color: white;
}

.title {
  font-size: 50px; 
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.logo {
  width: 200px
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
  gap: 100px
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px
}

.slider-font {
  color: rgba(4, 71, 131, 1);
  font-weight: 650;
  font-size: 16px
}

.scrollDiv {
  max-height: 5000px;
  overflow-y: auto;
}

.wrapper {
  padding: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  margin: 10px;
}

.middle_column {
  flex: 2
}   

input[type=range] {
  width: 330px; 
  height: 10px; 
}

.button1 {
  width: 30px; 
  height: 30px; 
  border-radius: 5px;
  border: none;
  transition-duration: 0.2s;
  font-family: 'Lexend';
  font-size: 20px;
  font-weight: 900;
  color: rgb(60, 94, 237)
}

.button1:hover {
  background-color: rgb(150, 168, 245);
  cursor: pointer;
}

.button2 {
  width: 55px; 
  height: 30px; 
  border-radius: 5px;
  border: none;
  transition-duration: 0.2s;
  font-family: 'Lexend';
  font-size: 20px;
  font-weight: 900;
  color: rgb(60, 94, 237)
}

.button2:hover {
  background-color: rgb(150, 168, 245);
  cursor: pointer;
}

.chart {
  height: 500px;
  width: 500px;
}

.speech {
  position: relative;
  max-width: 30em;

  background-color: #fff;
  padding: 1.125em 1.5em;
  font-size: 1.25em;
  border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}
  
.speech::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: .75rem solid transparent;
  border-top: none;

  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}